@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  /* font-family: "Inter", sans-serif; */
  font-family: "Cairo", sans-serif;
  margin: 0px;
  padding: 0px;
  scroll-behavior: smooth;
}
::-webkit-scrollbar {
  width: 12px;
}
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
::-webkit-scrollbar-thumb {
  background: #b0a96c;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}
.nav-shadow {
  box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.2);
}
.info-competition-shadow {
  box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
}
.competition-button-shadow {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}
.competition-image-shadow {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.fencing-student-box-shadow {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.footer-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}
.sidebar-shadow {
  box-shadow: 0 0 27px 0 rgba(214, 231, 233, 0.52);
    border: 1px solid rgba(0,0,0,.05)
}
